@import "https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css";
body{
	font-family: "Roboto";
	background: rgb(230, 230, 230);
}
*[slider-js]{
	background: gray;
}
*[slider-js] .slider-content{
	backdrop-filter: blur(10px);
	background: rgba(0, 0, 0, .25);
	color: rgba(255, 255, 255, 0.571);
	padding: 1rem 1.5rem 1.5rem;
}
*[slider-js]:not(h1) .slider-content:first-line{
	line-height: 1.75;
	color: rgba(255, 255, 255, 1);
	font-size: 1.5em;
	margin-bottom: 200px;
}
br{
	display: block;
	height: 20px;
}

body#test-remote *[slider-js]{
	height: 300px;
	border-radius: 5px;
	width: 80vw;
	margin: 20px auto;
}

h1[slider-js]{
	background: transparent;
	height: 80px!important;
}
h1[slider-js] img{
	display: none;
}
h1[slider-js] .slider-content{
	color: black;
	padding: 0;
	background: transparent;
}