body {
	background: #eee;
	margin: 0;
	padding: 0;
}

/* .events {
	width: 30%;
	margin-left: auto;
	height: 100vh;
} */

	.feed {
		background: white;
		border: 2px solid black;
		width: 100vw;
		height: 100vh;
		display: flex;
		justify-content: flex-start;
		overflow: hidden;
		position: relative;
	}

		.slider {
			display: flex;
			height: 100%;
			width: 500%;
			flex-shrink: 0;
			transition: all 0.5s;

		}

			section {
				flex-basis: 20%;
				flex-shrink: 0;
				display: flex;
				justify-content: center;
				align-items: center;
				font-size: 20px;
			}
			section.n1,
			section.n3,
			section.n5{
				background: red;
			}

.controls .forward {
	right: 20px;
}

.controls .backwards {
	left: 20px;
}

.controls *{
	position: absolute;
	top: 20px;
	background: none;
	border: none;
	cursor: pointer;
	outline: none;
	color: black;
	font-size: 50px;
}