@import "https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css";
body{
	font-family: "Roboto";
	background: lightgray;
}
/* *[slider-js]{
	height: 33vh;
	background: gray;
	transition: .5s;
}
*[slider-js]:hover{
	height: 400px;
}
*[slider-js] .slider-content{
	background: rgba(0, 0, 0, .25);
	color: white;
	padding: 1rem;
} */
