.slider{
	height: 300px;
	position: relative;
	overflow: hidden;
}
	.slider .card{
		/* padding: 2em 0em 2em 1em; */
		opacity: .25;
		transition: 300ms;
	}
		.slider .card.selected{
			bottom: 0;
			opacity: 1;
		}
	.slider .select{
		bottom: 0;
		background: purple;
		display: flex;
		line-height: 1;
		height: 20px;
	}
		.slider .select .selection {
			width: 20px;
			overflow: hidden;
		}
			.slider .select .selection img{
				width: 100%;
				height: 100%;
				transform: scale(5);
				transition: 200ms;
			}
			.slider .select .selection.selected{
				background: blue;
			}
				.slider .select .selection.selected img{
					transform: scale(1)
				}

.selected [class$="content"]{
	height: 10rem;
}
[class$="content"]{
	height: 0px;
	transition: 300ms;
}